*{
    font-family: "Dancing Script script=latin rev=2";
}


header {
    background-color: rgb(63, 61, 61);
    height: 80px;
    color: white;
    width: 100%;
    margin-top: 5px;
   
}

.menu {
    display: block;
    float: right;
    clear: both;
}

.menu li {
    list-style: none;
    padding: 5px;
    display: inline;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 20px;
}

.menu a:hover {
    color:teal;
    text-decoration: underline;
}

footer {
    position: relative;
    bottom: 0;
    height: 80px;
    background-color: rgb(63, 61, 61);
    width: 100%;
    margin-bottom: 5px;
    color: white;
}

.content{
    padding: 50px;
   
}
.container{
    border: 1px solid;
    font-family: cantata one,serif;
    font-weight: 600;
    font-size: 28px;
    color: rgb(22, 18, 18);
    padding-bottom: 50px;
   
}

.container h1{   
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 52px;
    font-weight: 700;
}

.container .form-group{
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.container .label{
    color: #8c5d28;
    display: block;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: .6px;
    position: absolute;
    left: 10px;
    top: 0;
}

.container .option{

    border-radius:10px;
    border: none;
    height: 70px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 28px;
    color: #333;
    font-weight: 500;
    background: rgba(255,255,255,.85);
    padding-top: 30px;
    -webkit-transition: .2s background;
    transition: .2s background;
    width: 90%;
}

.container .text{
    width: 380px;
    height: 50px;
}

.container .submit{
    background-color: #98a023;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .6px;
}

table{
    width: 90%;
    margin-left: 35px;
    padding: 15px;
}

td{
    width: 30%;
}

.container .submit{
    margin-bottom: 5px;
}

.container .radiobtn{
    font-size: 18px;
    color: #8c5d28;
}